services:
  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    networks:
      - nextcloud
      - forgejo
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./letsencrypt:/etc/letsencrypt
    ports:
      - 80:80
      - 443:443

networks:
  nextcloud:
    external: true
  forgejo:
    external: true
